<div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">following</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% for following in user.user_followed %}
              <a href="{{ url_for('main.user', username=following.username) }}">{{ following.username }}</a>
              {% endfor %}
              <br>
          </div>
        </div>
      </div>