<div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">followers</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                {% for follower in user.followers %}
                <a href="{{ url_for('main.user', username=follower.username) }}">{{ follower.username }}</a>
                {% endfor %}
                <br>
          </div>
        </div>
      </div>