<hr>
<div style=" word-wrap: break-word"> 
    <h3>{{ post.title }}</h3>
    {% if post.link %}<a href="//{{ post.link }}">{{ post.link }}</a>{% endif %}
<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.user.username) }}">
                    <img src="{{ post.user.avatar(36) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('main.user', username=post.user.username) }}">
                        by {{ post.user.username }}</a>, {{ moment(post.timestamp).fromNow() }}
                </a>
            </td>
        </tr>
    </table>

    <p>
            {{ post.body }}
        </p>

    </div> 