{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <div class="blurb">
        <h1>welcome to your mangalert, {{ current_user.username }}!</h1>
    </div>
    <hr>
    <div class="wrapper" style="overflow:auto">
    <div class="col-md-4" style="width:calc(35% - 8px);float:right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        make a post
    </button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">submit a post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            {{ wtf.quick_form(form, form_type='horizontal') }}
      </div>
    </div>
  </div>
</div>
{% include '_users.html' %}
</div>



<div style="width:calc(60% - 20px);float:left">
    <div style="margin-bottom: 8em">
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
</div>
    <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> newer posts
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        older posts <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
</div>
</div>
        
    {% else %}
    <div>
        <h1>welcome to mangalert!</h1>
        <hr>
        <div class="col-md-4" style="width:calc(35% - 8px);float:right">
                {% include '_users.html' %}
        </div>
        <div style="width:calc(60% - 20px);float:left">
        <p>
            if you were logged in, you would be able to see your newest manga updates and posts from those you follow. please log in or sign up if you haven't done so already! alternatively, you can <a href="{{ url_for('main.explore') }}">explore</a> if you want to see some of the cool stuff going on.
        </p>
        </div>
    </div>

    {% endif %}

{% block scripts %}
{{super()}}
{% if form %}
<script>
var formErrors = {% if form.errors %} true {% else %} false {% endif %};

$(document).ready(function() {
    if (formErrors) {
        $('.modal').modal('show');
    }
});
</script>
{% endif %}
{% endblock %}
{% endblock %}